[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pre-commit = "*"
flask-socketio = "*"
pytest = "*"
pymongo = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
