body {
    font-family: 'Overpass', sans-serif;
}

/* Navbar */
@media (max-width: 991px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-item {
    display: inline-block;
  }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.fade-down-navbar {
    animation: fade-down 0.5s;
}
