.board {
    display: flex;
    flex-wrap: wrap;
    width: 400px; /* Adjust the width to fit the board */
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.square img {
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
