{% include "header.html" %}

<section>

    <div class="d-flex flex-column align-items-center justify-content-center " style="margin-top: 100px">
        <h2>Room: {{ room }}</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="board" id="chessBoard"></div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/engine_manager/engine_connection.js') }}"></script>
<script src="{{ url_for('static', filename='js/engine_manager/pawn_movement.js') }}"></script>
<script src="{{ url_for('static', filename='js/socketio/ws_events.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/draw_board.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/utils.js') }}"></script>

<script>
    var socket = io();

    let pawns_cords_with_legal_moves = [];
    let pawn_objects = [];
    const board = document.getElementById('chessBoard');

    const pawn_white_img = "{{ pawn_white }}";
    const pawn_white_king_img = "{{ pawn_white_king }}";

    const pawn_black_img = "{{ pawn_black }}";
    const pawn_black_king_img = "{{ pawn_black_king }}";


    updateBoard();
    getCurrentPlayerMoves();

</script>


{% include "footer.html" %}
