{% include "header.html" %}

<section>

    <div class="d-flex flex-column align-items-center justify-content-center " style="margin-top: 100px">
        <h2>Room: {{ room }}</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="board" id="chessBoard"></div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/draw_board.js') }}"></script>
<script src="{{ url_for('static', filename='js/board.js') }}"></script>
<script src="{{ url_for('static', filename='js/ws_events.js') }}"></script>

<script>
    let currentPlayer = 1;
    let player_moves = [];

    const pawn_white_img = "{{ pawn_white }}";
    const pawn_black_img = "{{ pawn_black }}";

    socket.emit('get_matrix');

    socket.on('receive_matrix', function(matrix) {
        drawChessBoard(matrix.matrix);
    });

    findPawnsToMove(currentPlayer)
        .then((moves) => {
            moves.pawns_cords.forEach(coord => {
                let data_cords = coord.join('-');
                let elements = document.querySelectorAll(`[data-position="${data_cords}"]`);

                highlightPossibleMoves(elements);
                enablePawnsToMove(elements);
            });
        })
        .catch((error) => {
            console.error(error);
        });
</script>


{% include "footer.html" %}
