{% include "header.html" %}

<section class="wrapper d-flex justify-content-center">
    <div class="section-wrapper shadow" style="width: 55vw; background-color: #f5f5f5;">
        <div class="container" style="padding-top: 5%; margin-bottom: 5%">
            <div class="d-block text-center justify-content-center">
                <h1 class="heading" style=" color:grey">
                    <i class="fa-solid fa-chess-pawn" style="color: orange"></i> Play Checkers Online <i
                        class="fa-solid fa-chess-pawn" style="color: orange"></i>
                </h1>
                <h4 class="heading" style="margin-bottom: 2rem">
                    Choose action:
                </h4>
            </div>


            <div class="row flex-row justify-content-center align-items-start">
                <div class="col-xs-10 col-sm-10 col-lg-4 my-xs-3 my-sm-3 my-xs-5 flex-fill">
                    <div class="card-deck" style="border-radius: 1rem">
                        <div class="card-content">
                            <ul>
                                <li><i class="fa-regular fa-square-plus"></i> &nbsp Create new game</li>
                                <li><i class="fa-regular fa-user"></i>&nbsp Play against a friend</li>
                                <li><i class="fa-solid fa-chess-pawn"></i> &nbsp Play as black</li>
                                <li><i class="fa-solid fa-share"></i> Share code to a friend</li>
                            </ul>
                            <div class="btn shadow w-100 card-read-more align-bottom"
                                 style="border-radius: 1rem; background-color: orange">
                                <a href="{{ url_for('main.create_room', game_mode='pvp' ) }}"
                                   class="btn btn-block">
                                    Create room!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-10 col-sm-10 col-lg-4 my-xs-3 my-sm-3 my-xs-5">
                    <div class="card-deck" style="border-radius: 1rem">
                        <div class="card-content">
                            <ul>
                                <li><i class="fa-solid fa-chess-board mr-2"></i>Enter existing room</li>
                                <li><i class="fa-solid fa-right-to-bracket"></i> Join to a friend</li>
                                <li><i class="fa-regular fa-chess-pawn"></i>&nbsp Play as white</li>
                                <li><i class="fa-solid fa-magnifying-glass"></i> Find room using code</li>
                            </ul>
                            <div class="btn shadow w-100 card-read-more align-bottom"
                                 style="border-radius: 1rem; background-color: orange">
                                <a href="" class="btn btn-block" data-toggle="modal"
                                   data-target="#modalContent">
                                    Join room!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-lg-4 my-xs-3 my-sm-3 my-xs-5 mb-0">
                    <div class="card-deck" style="border-radius: 1rem">

                        <div class="card-content">
                            <ul>
                                <li><i class="fa-solid fa-robot"></i> Play against computer</li>
                                <li>&nbsp<i class="fa-solid fa-chess-pawn"></i>&nbsp Start as black</li>
                                <li>&nbsp<i class="fa-solid fa-backward-step"></i>&nbsp Beginners friendly</li>
                                <li><i class="fa-regular fa-star"></i>&nbsp Share your game now!</li>
                            </ul>
                            <div class="btn shadow w-100 card-read-more align-bottom"
                                 style="border-radius: 1rem; background-color: orange">
                                <a href="{{ url_for('main.create_room', game_mode='pve') }}" class="btn btn-block">
                                    Play vs AI!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper d-flex justify-content-center mb-5">
    <div class="section-wrapper shadow" style="width: 55vw; background-color: #f5f5f5;">
        <div class="container" style="padding-top: 5%; margin-bottom: 5%">
            <div class="d-block text-center justify-content-center desc-heading px-5">
                <h5>
                    What are checkers?
                </h5>
                <p>
                    Checkers, also called Draughts, is a group of strategy board games for two players.
                    American Checkers are among the two most popular variants of Checkers.
                </p>
                <h5>
                    How to play Checkers?
                </h5>
                <p>
                    In American variant of Checkers ordinary pieces move diagonally forward.
                    When it comes to capturing opponents' pieces, there are some differences...
                </p>
                <h5>
                    Which color starts the game?
                </h5>
                <p>
                    One player has the white pieces and the other plays with the black pieces.
                    In American Checkers the first move belongs to the player with the light ones.
                    The game starts automatically when both users are connected.
                </p>
                <h5>
                    Board size!
                </h5>
                <p>
                    In American Checkers, known also as English Draughts the board consists of 64 squares (8x8
                    checkerboard).
                </p>
                <h5>
                    How to capture opponent’s pieces?
                </h5>
                <p>
                    In American Checkers capturing is obligatory, but you can decide which of the available
                    capturing possibilities to choose from. In International Draughts you always have to jump over
                    the highest number of pieces possible. It is the so-called majority rule.
                    In American Checkers pieces cannot take backwards. The only exception is a king.
                </p>
                <h5>
                    King Pawn?
                </h5>
                <p>
                    When an uncrowned piece reaches the king row it turns into a king. In American Checkers a king moves
                    only one square,
                    but unlike regular pieces, a king can move and capture backwards, too.
                    <br>
                    <br>
                    <strong>Would you like to learn more about American Checkers? Check out the
                        <a href="https://en.wikipedia.org/wiki/Checkers" target="_blank">Wikipedia Guide</a>
                        </strong>
                </p>
            </div>
            <div class="container">
                <div class="row justify-content-center align-items-start">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="modalContent" tabindex="-1" role="dialog"
         aria-labelledby="modalContentTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-style: solid; background-color: #f5f5f5">
                <div class="modal-header" style="background-color: orange">
                    <h5 class="modal-title text-white">Please enter 8-digit room code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="text-danger text-center">
                            <p id="search_warning"></p>
                        </div>
                        <input class="form-control" id="room-id" name="channel" style="border-radius: 50px"
                               placeholder="Enter room code...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary ml-auto text-white" data-dismiss="modal">Close
                    </button>
                    <button onclick="checkRoom()" type="submit" class="btn mr-auto text-white"
                            style="background-color: orange">Join!
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/utils/fetch_channel.js') }}"></script>

{% include "footer.html" %}
